/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-color: black;
  text-align: center;
  background-image: url("http://static1.squarespace.com/static/52f95489e4b0a1dcb8f7b2ec/t/54590dd5e4b0d95c60e07df0/1415122391078/PA+Background+2.jpg?format=2500w");
 background-repeat: no-repeat;

}

label{
  color: orange;
}

h1{
  color: orange;
}
